body{
font-family: sans-serif;
background-color:#b3ceb8;
}

#top{
	width: 102%;
    position: fixed;
    height: 117px;
    border-bottom: 2px solid #213824;
    color: white;
    background: #4a7348;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -32px;
    margin-bottom: 30px;
    z-index:99;
}

#top a{
color:#ffffff;
}

#top a:visited{
color:#ffffff:
}

#toggleQ{
display: block;
width: 80px;
position: relative;
float: right;
right: 30px;
bottom: 105px;
font-size: 12px;
text-align: center;
}

#links{
position:relative;
bottom:25px;
width:200px;
margin:auto;
text-align: center;
}

#links a{
color:white;
margin-left:15px;
margin-right:15px;
}

#links a:visited{
color:#c4c4c4;
margin-left:15px;
margin-right:15px;
}

#title{
padding-top: 10px;
font-size: 200%;
text-align: center;
}

#majorList{
position: relative;
top: 120px;
border: 1px solid #a2a9b1;
width:700px;
margin:auto;
background-color: #f8f9fa;
padding: 5px;
}

h3{
text-align:center;}

.majorSection{
position:relative;
top: 120px;
}

.majorTable{
width:600px;
margin:auto;
}

.majorTitle{
	height: 27px;
    border: 1px solid #a2a9b1;
    color: black;
    background: #f8f9fa;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
}

.courses{
border: 1px solid #a2a9b1;
margin:auto;
background-color:#4a7348;
color: white;
padding: 20px;
}

.courses a{
color:white;}

.courses a:visited{
color:#c4c4c4;
}

#footer{
width: 100%;
position: relative;
height: 100px;
top: 120px;
}



/* fancy switch CSS below */
/* The switch - the box around the slider */
.switch {
position: relative;
bottom: 55px;
left: 40px;
display: inline-block;
float: right;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2b442a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2b442a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
